<h1>Update Pet</h1>


<form action="/pets/<%=@pet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br></br>

  <input type="text" name="pet_name" value="<%=@pet.name%>">

  <br></br>

  <%@owners.each do |owner|%>
    <% checked = @owner.id == owner.id ? "checked" : "" %>
    <input type="radio" name="owner_id" value="<%=owner.id%>" id="<%=owner.id%>" <%=checked%>><%=owner.name%></input>
  <%end%>

  <br></br>

  and/or, create a new owner:
    <br></br>
    <label>name:</label>
      <input  type="text" name="owner[name]" id="owner_name"></input>
    <br></br>

  <input type="submit" value="Update Pet">
</form>
